h1{
    color: green;
    font-style: italic;
}

.note{
    color: gray;
    padding-top: 3px;
    font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification{
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog{
    paddingTop: 10;
    paddingLeft: 2;
    border: 'solid';
    borderWidth: 1;
    marginBottom: 5
  }